*pdf
*doc
*docx
*xlsx
*dat
*csv
*odc
PreviousNotes
portopt_cvxpy-1.py
monthly_prices.csv
previous_hm
slides
examples
support_material
previous_slides
questions
HW.png
copy_portopt_cvxpy_python3.py
peer_review
/isye6420_bayesian_statistics/lectures/week7and8/supplementary/Exercises54
/isye6420_bayesian_statistics/lectures/week7and8/supplementary/GIBBS
/isye6420_bayesian_statistics/lectures/week7and8/supplementary/MetropolisHastingsSampling.code.py
/isye6420_bayesian_statistics/lectures/midterm/real
/isye6420_bayesian_statistics/lectures/week11and12/supplementary/Exercises93
/isye6669_deterministic_optimization/lectures/support_materials