*pdf
*doc
*docx
*xlsx
*dat
*csv
*odc
PreviousNotes
portopt_cvxpy-1.py
monthly_prices.csv
previous_hm
slides
examples
support_material
previous_slides
questions
HW.png
copy_portopt_cvxpy_python3.py
peer_review
/bayesian_statistics/lectures/week7and8/supplementary/Exercises54
/deterministic_optimization/lectures/support_materials
/bayesian_statistics/lectures/week7and8/supplementary/GIBBS
/bayesian_statistics/lectures/week7and8/supplementary/MetropolisHastingsSampling.code.py
